/*===========================
Table of contents
=============================
1. container
2. Left Section
    2.1 Avatar and verified
    2.2 Heading h1
    2.3 paragraph p
    2.4 Social Icon
3. Right Section
*/





/*===========================
    1. container
=============================*/
section.hero{
    margin-top:3rem;
    column-gap: 10%;
    justify-content: space-between;
}

/*===========================
        End Container
=============================*/

/*===========================
    2. Left Section
=============================*/


/*===========================
    2.1 Avatar animationd verified
=============================*/

section.hero .parent-avatar.flex{
    align-items: flex-end;
    gap: 0.6rem;
}

section.hero .left-section .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid #ffffff8e;
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(203, 201, 200, 0.145) inset;
}

section.hero .left-section .icon-verified{
    color: var(--light-blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    
}
    /*===========================
        2.1 End Avatar and verified
    =============================*/

    /*===========================
        2.2 Heading h1
    =============================*/
section.hero .left-section .title{
    font-size: 2.85rem;
    line-height: 3.8rem;
    margin: 20px 0;
    color: var(--title);
}
    /*===========================
        2.2 Heading h1
    =============================*/



/*===========================
    2.3 Paragraph p
=============================*/

section.hero .left-section p.subtitle{
    margin-bottom: 39px;
    color: var(--subtitle);
    line-height: 1.65rem;
    font-size: 0.9rem;
}
/*===========================
    2.3 Paragraph p
=============================*/


/*===========================
    2.4 Social Icons
=============================*/

section.hero .left-section div.all-icons{
    gap: 1.5rem;
    font-size: 1.3rem;
    color: var(--subtitle);
}
section.hero .left-section div.all-icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.2s ease;
    cursor: pointer;
    color: var(--icon-hover);
}
/*===========================
    2.4 Social Icons
=============================*/

/*===========================
    2. End Left Section
=============================*/




/*===========================
    3. Right Section
=============================*/
div.right-section div{
    flex-grow: 1;
    width: 100%;
}
/*===========================
    3. Right Section
=============================*/